h1 {
    font-style: italic;
    font-size: 4rem;
    text-align: center;
    text-decoration: underline;
}
li {
    font-size: 1.25rem;
    font-family: 'Gill Sans', 'Gill Sans MT', "Calibri", 'Trebuchet MS', sans-serif;
}
.subhead{
    font-size: 2.5rem;
    text-decoration-line: underline;
    text-decoration-style: solid;
}
.des{
    font-size: 1.5rem;
}
img{
    display: flex;
    margin: auto ;
    width: 500px;
    height:auto;
}